


<div>
  <label></label> <input #longUrl />
  <button (click)="reduce(longUrl.value)">
    Reduce!
  </button>
</div>
<div *ngIf="reducedUrl">
  <p>the Url {{reducedUrl.longUrl}} has been reduced in <a [routerLink]="['', reducedUrl.shortUrl]">localhost:3000/{{reducedUrl.shortUrl}}</a></p>
</div>

<div *ngIf="!isAuthenticated">
  <a [routerLink]="['/register']">register</a>
</div>
<br/>
<div *ngIf="!isAuthenticated">
  <a [routerLink]="['/login']">login</a>
</div>
<br/>

<div *ngIf="isAuthenticated">
  <a (click)="logout()">logout</a>
</div>
<br/>

<div *ngIf="isAuthenticated" >
  <a [routerLink]="['/stats']">see statistics</a>
</div>
